
<div class="card" style="width: 201px;">
  <img class="card-img-top" src="{{this.image}}" alt="Card image cap" style="width: 200px;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h7 class="card-text">Director: {{director}}</h7>

    <ul > Stars:
        {{#each stars}} 
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p> Description: <br> {{description}}</p>

    <a href="/movies" class="btn btn-primary">Go back</a>
  </div>
</div>
